{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="#">

    <title>Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    {% block additional_styles %}
    {% endblock additional_styles %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- for using django admin styles and js   
    {% block extrahead %}
    {% endblock extrahead %} -->
  </head>

  <body class="full">
        {% block content %}
        {% endblock content %}


    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
