{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Predict sentiment for your post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Prediction for Posts
                    </div>
                    <div class="panel-body">
                        <form action="/predict/" method="post">
                            {% csrf_token %}
                             <div class="form-group">
                                   {{form.text}}
                             </div>
                             <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                             </div>
                        </form>
                    <p>{{ result_string }}{{sentiment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}